<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
          <td><strong>Name: </strong> <%= friend.full_name %></td>
          <td><strong>Email: </strong> <%= friend.email %></td>
          <td><strong>Actions: </strong> <%= link_to "View Profile", '#',
                                            class: "btn btn-sm btn-success" %>
                                        <% if current_user.already_friends_with?(friend.id) %>
                                          <span class="badge badge-secondary">
                                            You are friends
                                          </span>
                                        <% else %>
                                          <%= link_to 'Follow friend?', '#',
                                            class: "btn btn-sm btn-success", method: :post %>
                                        <% end %>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
